
Django
django-bootstrap-form
django-crispy-forms
django-heroku
django-import-export
django-plotly-dash
django-rest-framework
djangorestframework
folium
geopy
gunicorn
matplotlib
missingno
missingpy
mistune
nltk
numpy
pandas
Pillow
plotly
scikit-learn
scipy
sklearn


