Django
django-bootstrap-form
django-crispy-forms
django-heroku
django-import-export
django-plotly-dash
django-rest-framework
djangorestframework
folium
geopy
gunicorn
matplotlib1
missingno
missingpy
mistune
nltk
numpy
pandas
pandas-profiling
Pillow
pivottablejs
plotly
scikit-learn
scipy
sklearn


