.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUploadPos {
  margin: 5px;
}

.g-fill-primary {
  fill: #e62154 !important;
}

.g-fill-white {
  fill: #fff !important;
}

.u-header-logo {
  width: 86px;
  height: 26px;
}

.btn-primary {
  background-color: #e62154;
  border-color: #e62154;
}

.btn-primary:hover {
  color: blue;
  background-color: #e31a4e;
  border-color: #e31a4e;
}

.nav-link{
  color:white;
}

.pad-modelling {
  color:white;
}

.pad-modelling:hover{
  color: blue;
  background-color: #e31a4e;
  border-color: #e31a4e;
}

/* PROFILE STYLE START */
/* Three columns side by side */
.column {
  float: left;
  width: 45%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */


/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* PROFILE STYLE END */
/* profile pic */
.chip{
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #fff;
  color:#000;
  font-weight:600;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}