{% extends "dash/dash-base-temp.html" %}
{% load staticfiles %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="{% url 'upload' %}">Upload</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'index' %}">Select File</a></li>
        <li class="breadcrumb-item " aria-current="page">Data Preprocessing</li>
    </ol>
</nav>

    <h4>File name:- {{ file_name }} <span class="badge badge-danger"> Rows count : {{ row_count }} </span></h4>
    <table class="table table-responsive table-striped table-dark " width="100%" id="dataTable"  cellspacing="0">
        <thead>
        <tr>
            {% for columns in DataFrame %}
            <th>{{ columns | safe }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for _, data in DataFrame.iterrows %}
        <tr>
            {% for value in data %}
            <td>{{ value | safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
<form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table-responsive jumbotron">
        <h3> Select variables</h3>
        <table class="table table-sm">
            <tr>
                <th> Column Name </th>
                <th> TYPE </th>
                <th> NAN COUNT </th>
                <th> DISTINCT COUNT </th>
                <th> ASSIGN VARIABLE </th>
            </tr>
            {% for key, value, value2, value3 in file_type.itertuples %}
            <tr>
                <td> {{ key }} </td>
                <td>
                    <select class="form-control col-md-8" name="coltype">
                        <option value={{key}}:{{value}}>{{ value }}</option>
                        {% if value == 'object' %}
                        <option value={{key}}:int64>int64</option>
                        <option value={{key}}:float64>float64</option>
                        {% endif %}
                        {% if value == 'int64' %}
                        <option value={{key}}:object>object</option>
                        <option value={{key}}:float64>float64</option>
                        {% endif %}
                        {% if value == 'float64' %}
                        <option value={{key}}:object>object</option>
                        <option value={{key}}:int64>int64</option>
                        {% endif %}
                    </select> </td>
                <td> {{ value2 }} </td>
                <td> {{ value3 }} </td>
                <td>
                    <select class="form-control col-md-8" name="assvar">
                        <option value={{key}}:X> X </option>
                        <option value={{key}}:y> y </option>
                        <option value={{key}}:no> Remove </option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-4">
                    <div class="fileUpload">
                        <label> Missing values </label>
                        <select class="form-control" name="missingvalues">
                            <option value='no'>Keep Na Values</option>
                            <option value='Drop_NA'>Drop Na Values</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="fileUpload ">
                        <label> Imputation Na Values </label>
                        <select class="form-control" name="imputing">
                            <option value='mean'>Mean</option>
                            <option value='median'>Median</option>
                            <option value='most_frequent'>Most frequent</option>
                            <option value='constant'>Constant</option>
                            <option value='#'>RandomForest</option>
                            <option value='#'>KNN</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="fileUpload">
                        <label> Training Set Size % </label>
                        <input class="form-control col-md-8" type="number" max="100" accuracy="1" min="0" name="trainingset_size" value=75 id="trainingset_size">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="fileUpload">
                        <label> Feature scaling </label>
                        <select class="form-control" name="featscaling">
                            <option value='no'>No feature scaling</option>
                            <option value='StandardScaler'>StandardScaler</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="fileUpload btn btn-primary">
            <span>Submit</span>
            <div>
                <input type="Submit" name="prepross_submit" class="upload">
            </div>
        </div>
    </div>
</form>
<h1>{{selecty}}</h1>

{% if graph %}

<div class="jumbotron">
    <div class="row">
        <div class="fileUpload col-lg-4 col-xs-6">
            <h3> Graphs</h3>
            <h5> All data </h5>
            <h5> Filter NA aplied </h5>
            <h5> Feature scaling not applied </h5>
        </div>
        <div class="fileUpload col-lg-6 col-xs-6">
            <h3>Your data selection:</h3>
            <p>
                <b>X variables:</b> {{xcols}} <br>
                <b>Y variable:</b> {{ycol}} <br>
                <b>Missing values:</b> {{missing}} <br>
                <b>Training set size:</b> {{trainingset_s}}% <br>
                <b>Test set size:</b> {{testset_s}}%<br>
                <b>Feature scaling:</b> {{feat}} <br>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row">
        {% for value in graph.values %}
        <div class="col-lg-4 col-xs-6">
            {{ value|safe }}
        </div>
        {% endfor %}
    </div>
</div>
    <table class="table table-responsive table-striped table-dark " width="100%"   cellspacing="0">
        <thead>
        <tr>
            {% for columns in df %}
            <th>{{ columns | safe }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for _, data in df.iterrows %}
        <tr>
            {% for value in data %}
            <td>{{ value | safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>

    </table>

{% endif %}

{% endblock content %}
